<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educational info</title>
    <link rel="stylesheet" href="theme.css">
</head>
<body>
    <nav >
        <ul>
            <li><a class="exclude" href="Home.html">Home</a></li>
            <li><a href="edu.html">About my education</a></li>
            <li><a href="self.html">About you</a></li>
        </ul>
        </nav>
        <p>
    <div>
        <table style="width: 300px; height: 300px;"  >
            <tr>
                <th>school attended</th>
                <th>courses</th>
            </tr>
            <tr>
                <td>Toase SHS</td>
                <td>General science</td>
            </tr>
            <tr>
                <td>University of Energy and Natural Resources</td>
                <td>Electrical Engineer</td>
            </tr>
        </table>
    </div>
</p>
</body>


</html>