<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage</title>
    <link rel="stylesheet" href="theme.css">
</head>

<body style="border: 1px dotted black;">
    <nav >
        <ul>
            <li><a  class="exclude" href="Home.html">Home</a></li>
            <li><a href="edu.html">About My Education</a></li>
            <li><a href="self.html">About You</a></li>
        </ul>
        </nav>

    <div class="picture"> 
     <img src="AlhajiTes.jpg" alt="pic">
    </div>
    
    <p>
    <div class="design">
        <marquee behavior="" direction="">
        <span>I’m Alhaji, an Electrical Engineer at University of Energy and Natural Resources. I’m from Kumasi, I completed Senior High School in the year 2018,It’s my dream to become a Frontend Developer.
              
            
        </span>
    </marquee>
    </p>
    </div>
    
</body>
</html>
