<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About you</title>
    <link rel="stylesheet" href="theme.css">
</head>
<body>
    <nav >
        <ul>
            <li><a class="exclude" href="Home.html">Home</a></li>
            <li><a href="edu.html">About my education</a></li>
            <li><a href="self.html">About you</a></li>
        </ul>
        </nav>
    <h3>fill the forms below:</br>
        <u> nB:</u> <small> The person must be from ten(10) years to seventy (70) years,
      before he/she can fill the forms </small></h3>
          <div class="break">
          <fieldset>
                  
              <legend> <strong> About You(The visitor)</strong></legend>
              <table>
              <div class="color">
                  <tr>
                      <td><label for="name">NAME:</label></td>
                      <td><input type="text" placeholder="eg.Alhaji" size="30"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                  </tr>
                  
                  <tr>
                      <td><label for="age">AGE: <td><select name="age" id="AGE">
                         <option selected="select">SELECT AGE</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                          <option value="13">13</option>
                          <option value="14">14</option>
                          <option value="15">15</option>
                          <option value="16">16</option>
                          <option value="17">17</option>
                          <option value="18">18</option>
                          <option value="19">19</option>
                          <option value="20">20</option>
                          <option value="21">21</option>
                          <option value="22">22</option>
                          <option value="23">23</option>
                          <option value="24">24</option>
                          <option value="25">25</option>
                          <option value="26">26</option>
                          <option value="27">27</option>
                          <option value="28">28</option>
                          <option value="29">29</option>
                          <option value="30">30</option>
                          <option value="31">31</option>
                          <option value="32">32</option>
                          <option value="33">33</option>
                          <option value="34">34</option>
                          <option value="35">35</option>
                          <option value="36">36</option>
                          <option value="37">37</option>
                          <option value="38">38</option>
                          <option value="39">39</option>
                          <option value="40">40</option>
                          <option value="41">41</option>
                          <option value="42">42</option>
                          <option value="43">43</option>
                          <option value="44">44</option>
                          <option value="45">45</option>
                          <option value="46">46</option>
                          <option value="47">47</option>
                          <option value="48">48</option>
                          <option value="49">49</option>
                          <option value="50">50</option>
                          <option value="51">51</option>
                          <option value="52">52</option>
                          <option value="53">53</option>
                          <option value="54">54</option>
                          <option value="55">55</option>
                          <option value="56">56</option>
                          <option value="57">57</option>
                          <option value="58">58</option>
                          <option value="59">59</option>
                          <option value="60">60</option>
                          <option value="61">61</option>
                          <option value="62">62</option>
                          <option value="63">63</option>
                          <option value="64">64</option>
                          <option value="65">65</option>
                          <option value="66">66</option>
                          <option value="67">67</option>
                          <option value="68">68</option>
                          <option value="69">69</option>
                          <option value="70">70</option>
                     
                      </select>
                  </td>
                     </label>
                  </td>
                               
                  
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                  </tr>
                  <tr>
                      <td><label for="TELEPHONE">TELEPHONE NUMBER:</label></td>
                      <td><input type="num" placeholder="eg.0550800034" size="10"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                  </tr>
                  <tr>
                      <td><label for="gender">GENDER:</label></td>
                      <td><input type="radio" name="radsex"> MALE</td>
                  </tr>
                  
                  <tr><td></td>
                      <td><input type="radio" name="radsex">FEMALE</td>
                  </tr>
                  <tr>
                      
                      <td><label for="id type"> ID type:<select name="ID" id="type">
                      <option value="select ID">Select</option>
                      <option value="ID card">ID card</option>
                      <option value="health">Insurance</option>
                      <option value="NIA">NIA</option>
                      <option value="pass">Passport</option>
                      <option value="driving">Driving lincence</option>
                  </select>
                      </label>
                  </td>
                  
                      <td><input type="num" placeholder="ID number" size="10"></td>
                 
                  </tr>
                  
              </div>
          </table>
          </fieldset>
      </div>
      <button >
          <div>submit</div>
      </button>
</body>
</html>